.vue-loading {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(230, 233, 236, 0.8);
    cursor: wait;
    opacity: 0;
    transition: opacity .4s;
}

.vue-loading-msg {
    box-sizing: content-box !important;
    position: absolute;
    z-index: 1001;
    margin: 0px;
    padding: 0 35px;
    height: 40px;
    top: 20%;
    left: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: wait;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0,0,0,.15);
    border: solid 1px #bbb;
    transform: translateX(-50%);
}